mat-form-field {
    text-align: center;
    width: 80%;
  }
  
  .cardForm {
    text-align: center;
  }
  
  .radioGroup {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
  }
  
  .radioButton {
    margin: 5px;
  }
  .mat-divider{
    margin: 15px;
    border-style: solid blue;
    background: blue;
  }
  #subtit{
    font-size: 140%
  }
  
.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 2px;
  background-color:white;
  padding: 10px;
}
.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;

}
