<mat-card class="cardForm">
    <form [formGroup]="form" (submit)="addInter()">


        <span  id="subtit" >Aparato cardiovascular</span>
        <br> <br>
            <mat-radio-group class="radioGroup" formControlName="presionArterial">
                    <span>Presión Arterial</span>
                    <br>
                    <mat-radio-group  class="radioGroup" formControlName="presionArterial">
                        <mat-radio-button value="Si" >Si </mat-radio-button>
                        <mat-radio-button value="No">No </mat-radio-button>
                        <mat-radio-button value="Normal">Normal  </mat-radio-button>
                    </mat-radio-group>
                    <br>
                <span>Fiebre Reúmatica</span>
                <br>
                <mat-radio-group class="radioGroup" formControlName="fiebreReumatica">
                    <mat-radio-button value="Si" >Si</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group>
                <br>
                <span>Hemorragias</span>
                <br>
                <mat-radio-group class="radioGroup" formControlName="hemorragias">
                    <mat-radio-button value="Si" >Si</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group> <br>
                <span>Infarto</span>
                <br>
                <mat-radio-group  class="radioGroup" formControlName="infarto">
                    <mat-radio-button value="Si" >Si</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group>
                <br>
                <span>Anemia</span>
                <br>
                <mat-radio-group  class="radioGroup" formControlName="anemia">
                    <mat-radio-button value="Si" >Si</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group> <br>
                <span>Otros</span>
                <br>
                  <mat-radio-group class="radioGroup" >
                        <mat-radio-button value="Si" (click)="enable('cualesOtros')">Si</mat-radio-button>
                        <mat-radio-button value="no"(click)="disable('cualesOtros')">No</mat-radio-button>
                  </mat-radio-group>
                   <mat-form-field>
                          <textarea matInput placeholder="Otros" formControlName="cualesOtros" ></textarea>
                   </mat-form-field>
                        <br>

      </mat-radio-group>

      <mat-radio-group class="radioGroup" formControlName="aparatoRespiratorio">
            <br><br>
            <mat-divider></mat-divider><br><br>
            <span id="subtit">Aparato Respiratorio</span>
            <br> <br>
                  <span>Tuberculósis</span>
                  <br>
                  <mat-radio-group  class="radioGroup" formControlName="tuberculosis">
                      <mat-radio-button value="Si" >Si</mat-radio-button>
                      <mat-radio-button value="no">No</mat-radio-button>
                  </mat-radio-group>
                  <br>
                  <span>Neúmonia</span>
                  <br>
                  <mat-radio-group  class="radioGroup" formControlName="neumonia">
                      <mat-radio-button value="Si" >Si</mat-radio-button>
                      <mat-radio-button value="no">No</mat-radio-button>
                  </mat-radio-group>
                  <br>
                  <span>Hasma</span>
                  <br>
                  <mat-radio-group  class="radioGroup" formControlName="hasma">
                      <mat-radio-button value="Si" >Si</mat-radio-button>
                      <mat-radio-button value="no">No</mat-radio-button>
                  </mat-radio-group>
                  <span>Faringeamigdalitis</span>
                  <br>
                  <mat-radio-group  class="radioGroup" formControlName="faringeamigdalitis">
                      <mat-radio-button value="Si">Si</mat-radio-button>
                      <mat-radio-button value="no">No</mat-radio-button>
                  </mat-radio-group>
                  <br>
                  <span>Bronquitis</span>
                  <br>
                  <mat-radio-group class="radioGroup" formControlName="bronquitis">
                      <mat-radio-button value="Si" >Si</mat-radio-button>
                      <mat-radio-button value="no">No</mat-radio-button>
                  </mat-radio-group>

                          <br>
                        </mat-radio-group>
      <mat-radio-group class="radioGroup" formControlName="aparatoDigestivo">
            <mat-divider></mat-divider><br><br>
            <span id="subtit">Aparato Digestivo</span>
            <br> <br>
                <span>Gastitris</span>
                <br>
                <mat-radio-group class="radioGroup" formControlName="gastritis">
                    <mat-radio-button value="Si" >Si</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group>
                <br>
                <span>Colitis</span>
                <br>
                <mat-radio-group  class="radioGroup" formControlName="colitis">
                    <mat-radio-button value="Si" >Si</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group>
                <br>
                <span>Gastroenteritis</span>
                <br>
                <mat-radio-group  class="radioGroup" formControlName="gastroenteritis">
                    <mat-radio-button value="Si" >Si</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group>
                <br>
                <span>Hepatitis</span>
                <br>
                <mat-radio-group  class="radioGroup" formControlName="hepatitis">
                    <mat-radio-button value="Si" (click)="enable('cuandoHepatitis')">Si</mat-radio-button>
                    <mat-radio-button value="no"(click)="disable('cuandoHepatitis')">No</mat-radio-button>
                </mat-radio-group>
                <br>
               <mat-form-field>
                <textarea matInput placeholder="Desde cuándo" formControlName="cuandoHepatitis" ></textarea>
               </mat-form-field>
                <br>
                <span>Diabetes</span>
                <br>
                <mat-radio-group  class="radioGroup" formControlName="diabetes">
                    <mat-radio-button value="Si" (click)="enable('cuandoDiabetes')">Si</mat-radio-button>
                    <mat-radio-button value="no"(click)="disable('cuandoDiabetes')">No</mat-radio-button>
                </mat-radio-group>
                <br>
               <mat-form-field>
                <textarea matInput placeholder="Desde cuándo" formControlName="cuandoDiabetes"></textarea>
               </mat-form-field>
                <br>
               <mat-form-field>
                <textarea matInput placeholder="Valor de glucosa"formControlName="glucosa"></textarea>
               </mat-form-field>
              <br>
            </mat-radio-group>

      <button mat-raised-button color="accent" type="submit">Guardar</button>
      <br>
    </form>

  </mat-card>
