mat-form-field {
  width: 100%;
}

.cardLogin {
  position: fixed;
  top: 120px;
  width: 70%;
}

mat-spinner {
  margin: auto;
}

.bononcilliplox {

  color: white;
  border-radius: 5%;
}

.spacer {
  flex: 1 1 auto;
}
