<mat-card class="cardForm">
    <form [formGroup]="form" (submit)="addAntece()">

      <mat-form-field>
        <textarea matInput type="text" [formControl]="motivoconsulta" placeholder="Motivo de la Consulta">  </textarea>
        <mat-error *ngIf="form.get('motivoconsulta').invalid">Por favor, escribe el motivo de la consulta</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea matInput type="text" [formControl]="cuanvisito" placeholder="Cuando visito al estomatologo">  </textarea>
        <mat-error *ngIf="form.get('cuanvisito').invalid">Por favor, escribe cuando visito al estomatologo</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea matInput type="text" [formControl]="motivo" placeholder="Motivo de la ultima consulta">  </textarea>
        <mat-error *ngIf="form.get('motivo').invalid">Por favor, escribe el motivo de la ultima consulta</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea matInput type="text" [formControl]="cdcuantiempo" placeholder="Cada cuanto tiempo visita al estomatologo">  </textarea>
        <mat-error *ngIf="form.get('cdcuantiempo').invalid">Por favor, escribe cada que tiempo realiza la visita</mat-error>
      </mat-form-field>
      <br>
      <span>¿Le han tomado radiografias?</span>
      <br>
        <mat-radio-group class="radioGroup" [formControl]="radiografia">
              <mat-radio-button value="Si" (click)="enable('cuantasRadio')">Si</mat-radio-button>
              <mat-radio-button value="no"(click)="disable('cuantasRadio')">No</mat-radio-button>
        </mat-radio-group>
    <br>
    <mat-form-field>
      <textarea matInput placeholder="Cuántas radiografias" [formControl]="cuantasRadio" ></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput placeholder="¿Cuándo las tomaron?" [formControl]="cuandoRadio" ></textarea>
    </mat-form-field>
    <br>

      <span>¿Ha perdido organos dentarios?</span>
      <br>
      <mat-radio-group class="radioGroup" [formControl]="organos">
            <mat-radio-button value="Si" (click)="enable('siReemplazoOrganos')">Si</mat-radio-button>
            <mat-radio-button value="no"(click)="disable('siReemplazoOrganos')">No</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field>
        <textarea matInput placeholder="Los reemplazaron?" [formControl]="siReemplazoOrganos" ></textarea>
 </mat-form-field>
 <br>
      <mat-form-field>
        <textarea matInput placeholder="¿Por qué los reemplazaron?" [formControl]="porqueOrganos" ></textarea>
 </mat-form-field>
 <br>
       <mat-form-field>
              <textarea matInput placeholder="Cuántos organos" [formControl]="cuantosOrganos" ></textarea>
       </mat-form-field>


            <br>
            <mat-form-field>
              <textarea matInput placeholder="Cómo los reemplazaron?" [formControl]="comoReemplazoOrganos" ></textarea>
       </mat-form-field>
            <br>
            <mat-form-field>
         <textarea matInput placeholder="Cuándo los reemplazaron?" [formControl]="cuanReemplazoOrganos" ></textarea>
       </mat-form-field>
            <br>

  <span>Experiencia con cirugias dentoalvelares</span>
  <mat-form-field>
  <mat-select placeholder="Algunas de las cirugias son:" [formControl]="cirugias" multiple>
      <mat-option *ngFor="let ciru of ciruList" [value]="ciru">{{ciru}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <span>¿Ha tenido problemas con la anestesia local?</span>
  <br>
  <mat-radio-group class="radioGroup" [formControl]="proanestesia">
        <mat-radio-button value="Si" (click)="enable('cualesProblemas')">Si</mat-radio-button>
        <mat-radio-button value="no"(click)="disable('cualesProblemas')">No</mat-radio-button>
  </mat-radio-group>
   <mat-form-field>
          <textarea matInput placeholder="De qué tipo" [formControl]="cualesProblemas" ></textarea>
   </mat-form-field>
        <br>

                <mat-form-field>
          <mat-select placeholder="Alguna vez ha tenido en su boca:" [formControl]="malestar" multiple>
            <mat-option *ngFor="let malestar of malestarList" [value]="malestar">{{malestar}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
                <textarea matInput type="text" [formControl]="explique" placeholder="Explique brevemente">  </textarea>
                <mat-error *ngIf="form.get('explique').invalid">Por favor, escribe de que tipo fueron los problemas</mat-error>
        </mat-form-field>
        <br>
        <span>¿Está bajo cuidado medico?</span>
        <br>
          <mat-radio-group class="radioGroup" [formControl]="cuidadoMedico">
                <mat-radio-button value="Si" (click)="enable('cuidadoHospital')">Si</mat-radio-button>
                <mat-radio-button value="no"(click)="disable('cuidadoHospital')">No</mat-radio-button>
          </mat-radio-group>
          <br>
           <mat-form-field>
                  <textarea matInput placeholder="Hospital o clínica" [formControl]="cuidadoHospital" ></textarea>
                  <mat-error *ngIf="form.get('cuidadoHospital').invalid">Por favor, ingresa el hospital .</mat-error>
           </mat-form-field>
           <br>
           <mat-form-field>
            <textarea matInput placeholder="Medico tratante" [formControl]="cuidadoMedico" ></textarea>
            <mat-error *ngIf="form.get('cuidadoMedico').invalid">Por favor, ingresa el médico .</mat-error>
     </mat-form-field>
     <br>
     <mat-form-field>
      <textarea matInput placeholder="Número de historial" [formControl]="cuidadoHistorial" ></textarea>
      <mat-error *ngIf="form.get('cuidadoMedico').invalid">Por favor, ingresa el número de historial .</mat-error>
    </mat-form-field>
                <br>

      <mat-form-field>
        <textarea matInput [formControl]="vistmedult" placeholder="¿Cuándo visito al médico por ultima vez?"></textarea>
        <mat-error *ngIf="form.get('vistmedult').invalid">Por favor, ingresa la fecha .</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput [formControl]="paraque" placeholder="¿Para que?"></textarea>
      <mat-error *ngIf="form.get('paraque').invalid">Por favor, excribe el porque .</mat-error>
  </mat-form-field>
  <br>
      <span>¿Está recibiendo drogas?</span>
      <br>
        <mat-radio-group class="radioGroup" [formControl]="drogas">
              <mat-radio-button value="Si" (click)="enable('cualesDrogas')">Si</mat-radio-button>
              <mat-radio-button value="no"(click)="disable('cualesDrogas')">No</mat-radio-button>
        </mat-radio-group>
        <br>
         <mat-form-field>
                <textarea matInput placeholder="Cuáles" [formControl]="cualesDrogas" ></textarea>
         </mat-form-field>
              <br>

              <span>Presenta hemorragias significativas con:</span>
              <mat-form-field>
                <mat-select placeholder="Tipos de hemorragias:" [formControl]="hemorragiass" multiple>
                  <mat-option *ngFor="let hemorragiass of hemorragiassList" [value]="hemorragiass">{{hemorragiass}}</mat-option>
                </mat-select>
              </mat-form-field>
              <br>

      <span>¿Ha presentado reacciones alergicas?</span>
       <mat-form-field>
      <mat-select placeholder="Tipos de reacciones alergicas:" [formControl]="recalergicas" multiple>
        <mat-option *ngFor="let alergicas of alergicasList" [value]="alergicas">{{alergicas}}</mat-option>
      </mat-select>
    </mat-form-field>

     <br>
    <span>¿Necesario hacer consulta médica?</span>
    <br>
      <mat-radio-group class="radioGroup" [formControl]="consmedica">
            <mat-radio-button value="Si" (click)="enable('consultaPorque')">Si</mat-radio-button>
            <mat-radio-button value="no"(click)="disable('consultaPorque')">No</mat-radio-button>
      </mat-radio-group>
      <br>
       <mat-form-field>
              <textarea matInput placeholder="¿Por qué es necesario?" [formControl]="consultaPorque" ></textarea>
       </mat-form-field>
            <br>

      <mat-form-field>
        <mat-select placeholder="Exploración de la cavidad oral:" [formControl]="cavidad"multiple>
          <mat-option *ngFor="let cavidad of cavidadList" [value]="Tiene">{{cavidad}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Higiene oral:" [formControl]="higieneo" multiple>
          <mat-option *ngFor="let higieneo of higieneoList" [value]="Tiene">{{higieneo}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Calculos:" [formControl]="calculos" multiple>
          <mat-option *ngFor="let cal of calList" [value]="Tiene">{{cal}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
          <textarea matInput [formControl]="exploracionradiografica" placeholder="Exploracion radiografica"></textarea>
          <mat-error *ngIf="form.get('exploracionradiografica').invalid">Por favor, ingresa la exploracion .</mat-error>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="accent" type="submit">Guardar<mat-icon>save</mat-icon></button>
    </form>

  </mat-card>
