<mat-card class="cardForm">
    <form [formGroup]="form" (submit)="addAntece()">

      <mat-form-field>
        <textarea matInput type="text" formControlName="motivoconsulta" placeholder="Motivo de la Consulta">  </textarea>
        <mat-error *ngIf="form.get('motivoconsulta').invalid">Por favor, escribe el motivo de la consulta</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput type="text" formControlName="cuanvisito" placeholder="Cuando visito al estomatologo">  </textarea>
        <mat-error *ngIf="form.get('cuanvisito').invalid">Por favor, escribe cuando visito al estomatologo</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput type="text" formControlName="motivo" placeholder="Motivo de la ultima consulta">  </textarea>
        <mat-error *ngIf="form.get('motivo').invalid">Por favor, escribe el motivo de la ultima consulta</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput type="text" formControlName="cdcuantiempo" placeholder="Cada cuanto tiempo visita al estomatologo">  </textarea>
        <mat-error *ngIf="form.get('cdcuantiempo').invalid">Por favor, escribe cada que tiempo realiza la visita</mat-error>
      </mat-form-field>

      <span>¿Le han tomado radiografias?</span>
      <mat-radio-group>
        <mat-radio-button value="S" (click)="apareceRadiografias()">Si</mat-radio-button>
        <mat-radio-button value="N"(click)="desapareceRadiografias()">No</mat-radio-button>
    </mat-radio-group>
    <br>
       <mat-form-field>
        <textarea matInput placeholder="Cuándo" [disabled]="radiografias_dis"></textarea>
       </mat-form-field>
    <br>

    <br>
      <mat-form-field>
        <textarea matInput placeholder="Cuántas" [disabled]="radiogrfias_dis"></textarea>
      </mat-form-field>
    <br>
     
      <span>¿Ha perdido organos dentarios?</span>
      <mat-radio-group>
        <mat-radio-button value="S" (click)="apareceOrgDent()">Si</mat-radio-button>
        <mat-radio-button value="N"(click)="desapareceOrgDent()">No</mat-radio-button>
    </mat-radio-group>

    <br>
       <mat-form-field>
        <textarea matInput placeholder="Cuantos" [disabled]="orgdent_dis"></textarea>
       </mat-form-field>
    <br>

    <br>
      <mat-form-field>
        <textarea matInput placeholder="Porque" [disabled]="orgdent_dis"></textarea>
      </mat-form-field>
    <br>
     
    <span>¿Los han remplazado?</span>
    <mat-radio-group>
      <mat-radio-button value="S" (click)="apareceRemplazo()">Si</mat-radio-button>
      <mat-radio-button value="N"(click)="desapareceRemplazo()">No</mat-radio-button>
    </mat-radio-group>

  <br>
     <mat-form-field>
      <textarea matInput placeholder="Cómo" [disabled]="remplazo_dis"></textarea>
     </mat-form-field>
  <br>

  <br>
    <mat-form-field>
      <textarea matInput placeholder="Cuándo" [disabled]="remplazo_dis"></textarea>
    </mat-form-field>
  <br>

  <span>Experiencia con cirugias dentoalvelares</span>
  <mat-radio-group>
    <mat-radio-button value="S" (click)="apareceCirugiaDen()">Si</mat-radio-button>
    <mat-select placeholder="Algunas de las cirugias son:" [formControl]="ciru" multiple>
      <mat-option *ngFor="let ciru of ciruList" [value]="ciru">{{ciru}}</mat-option>
    </mat-select>
    <mat-radio-button value="N"(click)="desapareceCirugiaDen()">No</mat-radio-button>
  </mat-radio-group>

  <br>
  <span>¿Ha tenido problemas con la anestesia local?</span>
  <br>
  <mat-radio-group>
    <mat-radio-button value="S" (click)="apareceProAnes()">Si</mat-radio-button>
    <mat-radio-button value="N"(click)="desapareceProAnes()">No</mat-radio-button>
  </mat-radio-group>

  <br>
  <mat-form-field>
    <textarea matInput placeholder="Qué tipo" [disabled]="proanes_dis"></textarea>
  </mat-form-field>
  <br>

  <mat-form-field>
      <textarea matInput  formControlName="higieneoral" placeholder="¿Qué medidas de higiene oral acostumbra?"></textarea>
      <mat-error *ngIf="form.get('higieneoral').invalid">Por favor, escribe con que frecuencia lo realizas.</mat-error>
  </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Alguna vez ha tenido en su boca:" [formControl]="malestar" multiple>
            <mat-option *ngFor="let malestar of malestarList" [value]="malestar">{{malestar}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
                <textarea matInput type="text" formControlName="explique" placeholder="Explique">  </textarea>
                <mat-error *ngIf="form.get('explique').invalid">Por favor, escribe de que tipo fueron los problemas</mat-error>
        </mat-form-field>

        <span>¿Está bajo cuidado medico?</span>
      <mat-radio-group>
          <mat-radio-button value="S" (click)="apareceCuidadoM()">Si</mat-radio-button>
          <mat-radio-button value="N"(click)="desapareceCuidadoM()">No</mat-radio-button>
        </mat-radio-group>
    
      <br>
         <mat-form-field>
          <textarea matInput placeholder="Hospital" [disabled]="cuidadom_dis"></textarea>
         </mat-form-field>
      <br>
    
      <br>
        <mat-form-field>
          <textarea matInput placeholder="Médico" [disabled]="cuidadom_dis"></textarea>
        </mat-form-field>
      <br>

      <br>
        <mat-form-field>
          <textarea matInput placeholder="#Historial" [disabled]="cuidadom_dis"></textarea>
        </mat-form-field>
      <br> 

      <mat-form-field>
        <textarea matInput formControlName="vistmedult" placeholder="¿Cuándo visito al médico por ultima vez?"></textarea>
        <mat-error *ngIf="form.get('vistmedult').invalid">Por favor, ingresa la fecha .</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="paraque" placeholder="¿Para que?"></textarea>
      <mat-error *ngIf="form.get('paraque').invalid">Por favor, excribe el porque .</mat-error>
  </mat-form-field>

      <span>¿Está recibiendo drogas?</span>
      <mat-radio-group>
        <mat-radio-button value="S" (click)="apareceDrogas()">Si</mat-radio-button>
        <mat-radio-button value="N"(click)="desapareceDrogas()">No</mat-radio-button>
      </mat-radio-group>
  
      <br>
        <mat-form-field>
          <textarea matInput placeholder="Cuáles" [disabled]="drogas_dis"></textarea>
        </mat-form-field>
      <br>

      <mat-radio-group class="radioGroup" formControlName="hemorragias">
        <span>¿Presenta hemorragias significativas?</span>
        <mat-radio-button class="radioButton" value="si">Si</mat-radio-button>
          <mat-select placeholder="Tipos de hemorragias:" [formControl]="hemorragiass" multiple>
            <mat-option *ngFor="let hemorragiass of hemorragiassList" [value]="hemorragiass">{{hemorragiass}}</mat-option>
          </mat-select>
        <mat-radio-button class="radioButton" value="no">No</mat-radio-button>
      </mat-radio-group>

      <span>¿Ha presentado reacciones alergicas?</span>
      <mat-radio-button value="Si" (click)="apareceAlergias()">Si</mat-radio-button>
      <mat-select placeholder="Tipos de reacciones alergicas:" [formControl]="alergicas" multiple>
        <mat-option *ngFor="let alergicas of alergicasList" [value]="alergicas">{{alergicas}}</mat-option>
      </mat-select>
      <mat-radio-button value="N" (click)="desapareceAlergias()">No</mat-radio-button>
     </mat-radio-group>  

     <br>
     <mat-form-field>
       <textarea matInput placeholder="Cuáles" [disabled]="alergias_dis"></textarea>
     </mat-form-field>
     <br>

    <span>¿Necesario hacer consulta médica?</span>
    <mat-radio-group>
      <mat-radio-button value="S" (click)="apareceConsulta()">Si</mat-radio-button>
      <mat-radio-button value="N"(click)="desapareceConsulta()">No</mat-radio-button>
    </mat-radio-group>
    <br>
     <mat-form-field>
      <textarea matInput placeholder="¿Por qué?" [disabled]="consulta_dis"></textarea>
     </mat-form-field>
     <br>


      <mat-form-field>
        <mat-select placeholder="Exploración de la cavidad oral:" [formControl]="cavidad" multiple>
          <mat-option *ngFor="let cavidad of cavidadList" [value]="Tiene">{{cavidad}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Higiene oral:" [formControl]="higieneo" multiple>
          <mat-option *ngFor="let higieneo of higieneoList" [value]="Tiene">{{higieneo}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Calculos:" [formControl]="cal" multiple>
          <mat-option *ngFor="let cal of calList" [value]="Tiene">{{cal}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
          <textarea matInput formControlName="exploracionradiografica" placeholder="Exploracion radiografica"></textarea>
          <mat-error *ngIf="form.get('exploracionradiografica').invalid">Por favor, ingresa la exploracion .</mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Guardar</button>
    </form>

  </mat-card>
