<mat-card>
    <h2>Preguntas frecuentes</h2>
    <mat-list role="list">
        <mat-list-item role="listitem">Pregunta <br><mat-chip><mat-icon>sentiment_satisfied_alt</mat-icon></mat-chip>Respuesta</mat-list-item>
        <mat-list-item role="listitem">Pregunta <br><mat-chip><mat-icon>sentiment_satisfied_alt</mat-icon></mat-chip>Respuesta</mat-list-item>
        <mat-list-item role="listitem">Pregunta <br><mat-chip><mat-icon>sentiment_satisfied_alt</mat-icon></mat-chip>Respuesta</mat-list-item>
        <mat-list-item role="listitem">Pregunta <br><mat-chip><mat-icon>sentiment_satisfied_alt</mat-icon></mat-chip>Respuesta</mat-list-item>
        <mat-list-item role="listitem">Pregunta <br><mat-chip><mat-icon>sentiment_satisfied_alt</mat-icon></mat-chip>Respuesta</mat-list-item>
        <mat-list-item role="listitem">Pregunta <br><mat-chip><mat-icon>sentiment_satisfied_alt</mat-icon></mat-chip>Respuesta</mat-list-item>
        <mat-list-item role="listitem">Pregunta <br><mat-chip><mat-icon>sentiment_satisfied_alt</mat-icon></mat-chip>Respuesta</mat-list-item>
      </mat-list>
</mat-card>
