<mat-card>
    <h2>Preguntas frecuentes</h2>
    <mat-list role="list">
        <mat-list-item role="listitem"><mat-icon>chat</mat-icon>¿Qué sucede si me equivoqué en algún campo del historial y deseo cambiarlo?</mat-list-item>
        <mat-list-item role="listitem">Existe la opción de editar en el menú principal la cuál te redirige a los historiales que tienes guardados y cada uno tiene el botón de “editar”.</mat-list-item><br>
        <mat-list-item role="listitem"><mat-icon>chat</mat-icon>¿Puedo terminar de llenar el historial clínico del paciente más tarde?</mat-list-item>
        <mat-list-item role="listitem">Claro, no puedes dejar secciones incompletas, pero al terminar cada sección puedes dar click en el botón “guardar” y terminar las demás secciones desde editar historial.</mat-list-item><br>
        <mat-list-item role="listitem"><mat-icon>chat</mat-icon>¿Cómo llenar el odontograma con los botones R y A?</mat-list-item>
        <mat-list-item role="listitem">El llenado del odontograma busca hacerse lo más parecido a la realidad, así como el alumno llena de color rojo el diente para indicar carie no tratada, el alumno deberá dar click en el botón R para pintar dicho diente de color rojo o A para pintarlo de color azul.</mat-list-item><br>
        <mat-list-item role="listitem"><mat-icon>chat</mat-icon>¿Los datos de mis pacientes están seguros en la página?</mat-list-item>
        <mat-list-item role="listitem">Si, utilizamos mecanismos de defensa novedosos para resguardar el acceso a la información, como el inicio de sesión seguro y protección contra ataques de aplicaciones web típicos.</mat-list-item><br>
        <mat-list-item role="listitem"><mat-icon>chat</mat-icon>¿Solamente puedo exportar historial en un archivo de tipo Excel?</mat-list-item>
        <mat-list-item role="listitem">Por el momento sí, todos los documentos se exportan como Excel (.xls)</mat-list-item><br>
        <mat-list-item role="listitem"><mat-icon>chat</mat-icon>¿Qué sucede si olvidé mi contraseña?</mat-list-item>
        <mat-list-item role="listitem">Por el momento es necesario que para reestablecerla, nos contactes vía correo electrónico a través de valeriavla@hotmail.com</mat-list-item><br>
      </mat-list>
</mat-card>
