<mat-card>
    Historiales.xls 
            <mat-icon >save</mat-icon>
            <br>
            <br>
            <br>
            
     <mat-form-field>
        <textarea matInput placeholder="Textarea" [disabled]="isDisabled"></textarea>
      </mat-form-field>
      <br>
      <mat-radio-group>
            <mat-radio-button value="Si" (click)="abletextArea()">Si</mat-radio-button>
            <mat-radio-button value="no"(click)="disabletextArea()">No</mat-radio-button>
          </mat-radio-group>
    </mat-card>