<mat-card>
    Historiales.xls 
            <mat-icon >save</mat-icon>
            <br>
            <br>
            <br>
            
  
       <span>
         Otros:
       </span>
       <br>
        <mat-radio-group>
            <mat-radio-button value="si" (click)="apareceOtros()">Si</mat-radio-button>
            <mat-radio-button value="no"(click)="desapareceOtros()">No</mat-radio-button>
        </mat-radio-group>
        <br>
       <mat-form-field>
        <textarea matInput placeholder="Cuáles" [disabled]="otros_dis"></textarea>
      </mat-form-field>
      <br>

      <span>
         Diabetes:
        </span>
        <br>
        <mat-radio-group>
                <mat-radio-button value="Si" (click)="apareceDiabetes()">Si</mat-radio-button>
                <mat-radio-button value="no"(click)="desapareceDiabetes()">No</mat-radio-button>
            </mat-radio-group>
            <br>
           <mat-form-field>
            <textarea matInput placeholder="Desde cuándo" [disabled]="diabetes_dis"></textarea>
           </mat-form-field>
            <br>
           <mat-form-field>
            <textarea matInput placeholder="Valor de glucosa" [disabled]="diabetes_dis"></textarea>
           </mat-form-field>
          <br>
   

    </mat-card>