<mat-card class="cardForm">
    <form [formGroup]="form" (submit)="addLab()">
            <span>Resultados de Estudios auxíliares de Diagnostico Practicados Previamente</span> <br><br>
            
        <mat-form-field  appearance = "outline" >
            <textarea matInput type="text" formControlName="resultadosPrevios" placeholder="Estudio de Gabinete y Laboratorio">  </textarea>
                        <mat-error *ngIf="form.get('resultadosPrevios').invalid">Por favor, escriba los resultados</mat-error>  
        </mat-form-field > 
        <br>
        <br>
        <span>Resultados Obtenídos</span> <br><br>
        <mat-form-field  appearance = "outline" >
            <textarea matInput type="text" formControlName="resultPrevios2" placeholder="Terapéutica Previa">  </textarea>
                        <mat-error *ngIf="form.get('resultPrevios2').invalid">Por favor, escriba los resultados</mat-error>  
        </mat-form-field >  
        <br>   
    <button mat-raised-button color="accent" type="submit">Guardar</button>
    </form>
  </mat-card>
          