<mat-card class="cardForm">
    <form [formGroup]="form" (submit)="addReha()">
            <mat-form-field>
                    <textarea matInput type="text" formControlName="referidoPor" placeholder="Referido Por:">  </textarea>
                    <mat-error *ngIf="form.get('referidoPor').invalid">campo necesario</mat-error>
            </mat-form-field>
            <mat-form-field>
                    <textarea matInput type="text" formControlName="motivoConsulta" placeholder="Motivo de la cosúlta">  </textarea>
                    <mat-error *ngIf="form.get('motivoConsulta').invalid">Por favor, escribe el motivo de la consulta</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="examen Para:" [formControl]="examenPara" multiple>
                  <mat-option *ngFor="let examenPara of examenParaList" [value]="examenPara">{{examenPara}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-radio-group class="radioGroup" formControlName="moEstu">
                <span>¿Se tomaron modelos del estudio?</span>
                <mat-radio-button class="radioButton" value="S">Si</mat-radio-button>
                    <mat-form-field>
                        <textarea matInput type="text" formControlName="descripcion" placeholder="Descripcion">  </textarea>
                        <mat-error *ngIf="form.get(descripcion).invalid">Por favor, escribe la descripcion</mat-error>
                     </mat-form-field>
                <mat-radio-button class="radioButton" value="N">No</mat-radio-button>
            </mat-radio-group>
        
    <br>        
    <button mat-raised-button color="accent" type="submit">Guardar</button>
    </form>
  </mat-card>