<mat-card class="cardForm">
    <form [formGroup]="form" (submit)="addReha()">
            <mat-form-field>
                    <span>Referido por:</span>
                    <textarea matInput type="text" formControlName="referidoPor" placeholder="">  </textarea>
                    <mat-error *ngIf="form.get('referidoPor').invalid">campo necesario</mat-error>
            </mat-form-field>
            <mat-form-field>
                    <span>¿Cual es el motivo de la consulta?</span>
                    <textarea matInput type="text" formControlName="motivoConsulta" placeholder="">  </textarea>
                    <mat-error *ngIf="form.get('motivoConsulta').invalid">Por favor, escribe el motivo de la consulta</mat-error>
            </mat-form-field>
            <br><br><br><br>
            <mat-form-field>
                    <span>Examen para:</span>
                    <mat-select placeholder="" [formControl]="examenPara" multiple>
                      <mat-option *ngFor="let examenPara of examenParaList" [value]="examenPara">{{examenPara}}</mat-option>
                    </mat-select>
            </mat-form-field>
            <br><br><br><br>
            
            
            <mat-radio-group class="radioGroup" formControlName="moEstu">
                <span>¿Se tomaron modelos del estudio?</span>
                <mat-radio-button class="radioButton" value="S">Si</mat-radio-button>
                    
                <mat-radio-button class="radioButton" value="N">No</mat-radio-button>
            </mat-radio-group>
            <br><br>

            <mat-form-field> 
                <span>Diagnostico y clasificación de la oclusion</span>
                    <textarea matInput type="text" formControlName="diagO" placeholder="">  </textarea>
                    <mat-error *ngIf="form.get('diagO').invalid">Por favor, escriba el diagnostico.....</mat-error> 
            </mat-form-field>

            <mat-form-field> 
                    <span>Exploracion de la articulacion temporomandibular </span>
                        <textarea matInput type="text" formControlName="exTem" placeholder="">  </textarea>
                        <mat-error *ngIf="form.get('exTem').invalid">Por favor, escriba las otras exploraciones</mat-error> 
            </mat-form-field>
            <br><br>
            <mat-form-field> 
                <span>Otras Exploraciones, Resuma aquí loss hallazgos de Exámenes escpeciales que haya requerido el paciente</span>
                    <textarea matInput type="text" formControlName="otrasEx" placeholder="">  </textarea>
                    <mat-error *ngIf="form.get('otrasEx').invalid">Por favor, escriba las otras exploraciones</mat-error> 
            </mat-form-field>
            <br><br>
            <mat-grid-list cols="8" rowHeight="2:2">
                    <h3>Plan de tratamiento para protesis parcial</h3>
                    <br><br>
                    <span>En el cuadro adjunto anote el tipo de restauración protésica que se considere adecuada. </span>

                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 18 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 17 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 16 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 15 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 14 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 13 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 12 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 11 </mat-label>
                                <input matInput placeholder="1">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 18 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 17 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 16 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 15 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 14 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 13 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 12 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 11 </mat-label>
                                        <input matInput placeholder="1">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
              </mat-grid-list>
              <br>
                <h3>Código</h3>
                <br>
              <mat-list role="list" class="list">
                        <mat-list-item role="listitem">P = Póntico</mat-list-item>
                        <mat-list-item role="listitem">CC = Corona completa</mat-list-item>
                        <mat-list-item role="listitem">CCP = Corona completa a perno oespiga</mat-list-item>                       
                        <mat-list-item role="listitem">CV = Corona Veneer</mat-list-item>
                        <mat-list-item role="listitem">CT = Corona tinker</mat-list-item>
                        <mat-list-item role="listitem">CL = Corona logan</mat-list-item>
                        <mat-list-item role="listitem">C 1/2 = Media corona</mat-list-item>
                        <mat-list-item role="listitem">C 3/4 = Corona tres cuartos</mat-list-item>
                        <mat-list-item role="listitem">CP 3/4 = Corona tres cuartos con próteccion </mat-list-item>
                        <mat-list-item role="listitem">ChL = Chapeta lingual</mat-list-item>
                        <mat-list-item role="listitem">CPL = Corona pinledge</mat-list-item>
                        <mat-list-item role="listitem">CJ = Corona jacket</mat-list-item>
                        <mat-list-item role="listitem"> O = Onlay</mat-list-item>
                        <mat-list-item role="listitem"> ? = Dudoso</mat-list-item>
                      </mat-list>


        <mat-grid-list cols="8" rowHeight="2:2">
                    <h5>----------------------------------------</h5>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 21 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 22 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 23 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 24 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 25 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 26 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 27 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 28 </mat-label>
                                <input matInput placeholder="1">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 21 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 22 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 23 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 24 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 25 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 26 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 27 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 28 </mat-label>
                                        <input matInput placeholder="1">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
              </mat-grid-list>
              <br>
        <mat-grid-list cols="8" rowHeight="2:2">
                    <h5>----------------------------------------</h5>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 48 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 47 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 46 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 45 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 44 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 43 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 42 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 41 </mat-label>
                                <input matInput placeholder="1">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 48 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 47 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 46 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 45 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 44 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 43 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 42 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 41 </mat-label>
                                        <input matInput placeholder="1">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
              </mat-grid-list>
              <br>
        <mat-grid-list cols="8" rowHeight="2:2">
                    <h5>----------------------------------------</h5>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 31 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 32 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 33 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 34 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 35 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 36 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 37 </mat-label>
                                <input matInput placeholder="">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-form-field appearance="outline">
                                <mat-label> 38 </mat-label>
                                <input matInput placeholder="1">
                                <mat-hint>Fijo</mat-hint>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 31 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 32 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 33 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 34 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 35 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 36 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 37 </mat-label>
                                        <input matInput placeholder="">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                        <mat-label> 38 </mat-label>
                                        <input matInput placeholder="1">
                                        <mat-hint>Remov.</mat-hint>
                                </mat-form-field>
                        </mat-grid-tile>
              </mat-grid-list>
              <mat-form-field> 
                <span>Análisis radiógrafico</span>
                    <textarea matInput type="text" formControlName="analisisRadio" placeholder="">  </textarea>
                    <mat-error *ngIf="form.get('analisisRadio').invalid">Por favor, escriba el análisis radiógrafico</mat-error> 
            </mat-form-field>
            <mat-form-field> 
                <span>Anotaciones especiales relacionadas con el tratamiento de prótesis parcial </span>
                    <textarea matInput type="text" formControlName="trataProte" placeholder="">  </textarea>
                    <mat-error *ngIf="form.get('diagO').invalid">Por favor, escriba las anotaciones</mat-error> 
            </mat-form-field>
    <br><br>        
    <button mat-raised-button color="accent" type="submit">Guardar</button>
    </form>
  </mat-card>