
<svg class="svgRectangulo">
  <!-- Centro -->
  <a ng-click="changeRed()"><polygon class="teal" points="15 15 60 15 60 60 15 60" /></a>
  <!-- trapecio superior -->
  <a xlink:href="#"><polygon class="teal" points="0 0 15 15 60 15 75 0" /></a>
  <!-- trapecio Izquierda -->
  <a xlink:href="#"><polygon class="teal" points="0 0 15 15 15 60 0 75" /></a>
 <!-- trapecio derecho -->
  <a xlink:href="#"><polygon class="teal" points="75 0 60 15 60 15 60 60 75 75" /></a>
   <!-- trapecio inferior -->
  <a xlink:href="#"><polygon class="teal" points="0 75 15 60 60 60 75 75" /></a>
</svg>
   
<svg class="svgRectangulo">
  <!-- Centro -->
  <a xlink:href="#"><polygon id="rojo" class="red" points="0 0 50 0 50 50 0 50" /></a>

</svg>
