.cardLogin {
  top: 120px;
  width: 90%;
  bottom: 100px;
}

.svgRectangulo {
  display: block;
  width: 20%;
  height: auto;
  margin: 0 auto;
}

polygon {
  fill:#ccc;
  stroke:#fff;
  stroke-width:0.5;
  transition: fill .15s;
}


a {
  cursor: pointer;
}

.botonRojo {
  background-color: red;
  color: white;
}

mat-divider {
  border-width: 10px;
}
