<mat-card class="cardForm">
  <form [formGroup]="form" (submit)="addHojadeTrat()">

          <mat-form-field>
              <textarea matInput formControlName="pacienteh" placeholder="Paciente"></textarea>
              <mat-error *ngIf="form.get('pacienteh').invalid">Por favor, escribe el nombre del paciente.</mat-error>
            </mat-form-field>
      <br> <br>
          <mat-form-field>
              <textarea matInput formControlName="alumno" placeholder="Alumno"></textarea>
              <mat-error *ngIf="form.get('alumno').invalid">Por favor, escribe el nombre del alumno.</mat-error>
            </mat-form-field>
            <br> <br>
          <mat-form-field>
              <textarea matInput formControlName="profesorresponsable" placeholder="Profesor Responsable"></textarea>
              <mat-error *ngIf="form.get('profesorresponsable').invalid">Por favor, escribe el nombre del profesor responsable.</mat-error>
            </mat-form-field>
            <br> <br>
          <mat-form-field>
              <textarea matInput formControlName="noempleado" placeholder="No. Empleado"></textarea>
              <mat-error *ngIf="form.get('noempleado').invalid">Por favor, escribe el no. empleado.</mat-error>
            </mat-form-field>


   <!--
      Apartir de aquí se debe de borrar
    -->

    <mat-form-field>
      <textarea matInput formControlName="organodental" placeholder="Órgano Dental"></textarea>
      <mat-error *ngIf="form.get('organodental').invalid">Por favor, escribe el órgano dental.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="diagnostico" placeholder="Diagnóstico"></textarea>
      <mat-error *ngIf="form.get('diagnostico').invalid">Por favor, escribe el diagnóstico.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="tratamiento" placeholder="Tratamiento"></textarea>
      <mat-error *ngIf="form.get('tratamiento').invalid">Por favor, escribe el tratamiento.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="costo" placeholder="Costo"></textarea>
      <mat-error *ngIf="form.get('costo').invalid">Por favor, escribe el costo.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="nopoliza" placeholder="No. Póliza"></textarea>
      <mat-error *ngIf="form.get('nopoliza').invalid">Por favor, escribe el no. póliza.</mat-error>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" type="submit">Guardar <mat-icon>save</mat-icon></button>

  </form>

</mat-card>
