<mat-card class="cardForm">
  <form [formGroup]="form" (submit)="addDiagnostico()">

    <p>A. Signos y Síntomas</p>

    <mat-form-field>
      <textarea matInput type="text" formControlName="organoa" placeholder="Órgano Dentario">  </textarea>
      <mat-error *ngIf="form.get('organoa').invalid">Por favor, escribe el nombre del órgano dentario.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput formControlName="tipodedolor" placeholder="Tipo de Dolor"></textarea>
        <mat-error *ngIf="form.get('tipodedolor').invalid">Por favor, escribe el tipo de dolor.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="episodios" placeholder="Episodios"></textarea>
      <mat-error *ngIf="form.get('episodios').invalid">Por favor, escribe los episodios.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="percusion" placeholder="Percusión"></textarea>
      <mat-error *ngIf="form.get('percusion').invalid">Por favor, escribe la percusión.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="movilidad" placeholder="Movilidad"></textarea>
      <mat-error *ngIf="form.get('movilidad').invalid">Por favor, escribe la movilidad.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="cambiodecolor" placeholder="Cambio de Color"></textarea>
      <mat-error *ngIf="form.get('cambiodecolor').invalid">Por favor, escribe el cambio de color.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="trumefaccionintra" placeholder="Trumefacción Intra"></textarea>
      <mat-error *ngIf="form.get('trumefaccionintra').invalid">Por favor, escribe la trumefacción intra</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="trumefaccionextra" placeholder="Trumefacción Extra"></textarea>
      <mat-error *ngIf="form.get('trumefaccionextra').invalid">Por favor, escribe la trumefacción extra.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="fistula" placeholder="Fístula"></textarea>
      <mat-error *ngIf="form.get('fistula').invalid">Por favor, escribe la fístula.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="reaccionpulparcalor" placeholder="Reacción Pulpar a Calor"></textarea>
      <mat-error *ngIf="form.get('reaccionpulparcalor').invalid">Por favor, escribe la reacción pulpar a calor.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="reaccionpulparfrio" placeholder="Reacción Pulpar a Frío"></textarea>
      <mat-error *ngIf="form.get('reaccionpulparfrio').invalid">Por favor, escribe la reacción pulpar a frío.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="reaccionpulpartestcavit" placeholder="Reacción Pulpar a Test. Cavit."></textarea>
      <mat-error *ngIf="form.get('reaccionpulpartestcavit').invalid">Por favor, escribe la reacción pulpar a test. cavit.</mat-error>
    </mat-form-field>

    <br>
    <button mat-raised-button color="accent" type="submit">Enviar</button>
    <br><br>

    <p>B. Etiología</p>

    <mat-form-field>
      <textarea matInput formControlName="organob" placeholder="Órgano"></textarea>
      <mat-error *ngIf="form.get('organob').invalid">Por favor, escribe el nombre del órgano.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="caries" placeholder="Caries"></textarea>
      <mat-error *ngIf="form.get('caries').invalid">Por favor, escribe las caries.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="trauma" placeholder="Trauma"></textarea>
      <mat-error *ngIf="form.get('trauma').invalid">Por favor, escribe el trauma.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="enfperiodonta" placeholder="Enfermedad Periodonta"></textarea>
      <mat-error *ngIf="form.get('enfperiodonta').invalid">Por favor, escribe la enfermedad periodonta.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="obtdefectuosa" placeholder="Obt. Defectuosa"></textarea>
      <mat-error *ngIf="form.get('obtdefectuosa').invalid">Por favor, escribe la obt. defectuosa.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="fractura" placeholder="Fractura"></textarea>
      <mat-error *ngIf="form.get('fractura').invalid">Por favor, escribe la fractura.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="corona" placeholder="Corona"></textarea>
      <mat-error *ngIf="form.get('corona').invalid">Por favor, escribe la corona.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="raiz" placeholder="Raíz"></textarea>
      <mat-error *ngIf="form.get('raiz').invalid">Por favor, escribe la raíz.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro2" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro2').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>
  
    <br>
    <button mat-raised-button color="accent" type="submit">Enviar</button>
    <br><br>

    <p>C. Análisis Radiográfico</p>

    <mat-form-field>
      <textarea matInput formControlName="organoc" placeholder="Órgano"></textarea>
      <mat-error *ngIf="form.get('organoc').invalid">Por favor, escribe el nombre del órgano.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="calcificaciones" placeholder="Calcificaciones"></textarea>
      <mat-error *ngIf="form.get('calcificaciones').invalid">Por favor, escribe las calcificaciones.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="corona2" placeholder="Corona"></textarea>
      <mat-error *ngIf="form.get('corona2').invalid">Por favor, escribe la corona.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="raiz2" placeholder="Raíz"></textarea>
      <mat-error *ngIf="form.get('raiz2').invalid">Por favor, escribe la raíz.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="resorcion" placeholder="Resorción"></textarea>
      <mat-error *ngIf="form.get('resorcion').invalid">Por favor, escribe la resorción.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="interno" placeholder="Interno"></textarea>
      <mat-error *ngIf="form.get('interno').invalid">Por favor, escribe el interno.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="externo" placeholder="Externo"></textarea>
      <mat-error *ngIf="form.get('externo').invalid">Por favor, escribe el externo.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="refacciones" placeholder="Refacciones"></textarea>
      <mat-error *ngIf="form.get('refacciones').invalid">Por favor, escribe refacciones.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="penapico" placeholder="Penapico"></textarea>
      <mat-error *ngIf="form.get('penapico').invalid">Por favor, escribe penapico.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="radicular" placeholder="Radicular"></textarea>
      <mat-error *ngIf="form.get('radicular').invalid">Por favor, escribe radicular.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="obturaciondefectuosa2" placeholder="Obturación Defecutuosa"></textarea>
      <mat-error *ngIf="form.get('obturaciondefectuosa2').invalid">Por favor, escribe la obturación defectuosa.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro3" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro3').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>
  
    <br>
    <button mat-raised-button color="accent" type="submit">Enviar</button>
    <br><br>

    <p>D. Diagnóstico</p>

    <mat-form-field>
      <textarea matInput formControlName="organodentario" placeholder="Órgano Dentario"></textarea>
      <mat-error *ngIf="form.get('organodentario').invalid">Por favor, escribe el órgano dentario.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="vital" placeholder="Vital"></textarea>
      <mat-error *ngIf="form.get('vital').invalid">Por favor, escribe vital.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="reversible" placeholder="Reversible"></textarea>
      <mat-error *ngIf="form.get('reversible').invalid">Por favor, escribe reversible.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="irreversible" placeholder="Irreversible"></textarea>
      <mat-error *ngIf="form.get('irreversible').invalid">Por favor, escribe irreversible.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="novital" placeholder="No Vital"></textarea>
      <mat-error *ngIf="form.get('novital').invalid">Por favor, escribe no vital.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="aguda" placeholder="Aguda"></textarea>
      <mat-error *ngIf="form.get('aguda').invalid">Por favor, escribe aguda.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="cronica" placeholder="Crónica"></textarea>
      <mat-error *ngIf="form.get('cronica').invalid">Por favor, escribe crónica.</mat-error>
    </mat-form-field>
  
    <br>
    <button mat-raised-button color="accent" type="submit">Enviar</button>
    <br><br>

    <mat-form-field>
      <textarea matInput formControlName="observaciones" placeholder="Observaciones"></textarea>
      <mat-error *ngIf="form.get('observaciones').invalid">Por favor, escribe tus observaciones.</mat-error>
    </mat-form-field>
  
  
  
  </form>

</mat-card>
