<mat-card class="cardForm">
  <form [formGroup]="form" (submit)="addIdent()">

    <p>A. Signos y Síntomas</p>

    <mat-form-field>
      <textarea matInput type="text" formControlName="organoa" placeholder="Órgano">  </textarea>
      <mat-error *ngIf="form.get('organoa').invalid">Por favor, escribe el nombre del órgano.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput formControlName="tipodedolor" placeholder="Tipo de Dolor"></textarea>
        <mat-error *ngIf="form.get('tipodedolor').invalid">Por favor, escribe el tipo de dolor.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="episodios" placeholder="Episodios"></textarea>
      <mat-error *ngIf="form.get('episodios').invalid">Por favor, escribe los episodios.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="percusion" placeholder="Percusión"></textarea>
      <mat-error *ngIf="form.get('percusion').invalid">Por favor, escribe la percusión.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="movilidad" placeholder="Movilidad"></textarea>
      <mat-error *ngIf="form.get('movilidad').invalid">Por favor, escribe la movilidad.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="cambiodecolor" placeholder="Cambio de Color"></textarea>
      <mat-error *ngIf="form.get('cambiodecolor').invalid">Por favor, escribe el cambio de color.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="trumetaccion" placeholder="Trumetacción"></textarea>
      <mat-error *ngIf="form.get('trumetaccion').invalid">Por favor, escribe la trumetacción</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="intra" placeholder="Intra"></textarea>
      <mat-error *ngIf="form.get('intra').invalid">Por favor, escribe el intra.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="extra" placeholder="Extra"></textarea>
      <mat-error *ngIf="form.get('extra').invalid">Por favor, escribe el extra.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="fisura" placeholder="Fisura"></textarea>
      <mat-error *ngIf="form.get('fisura').invalid">Por favor, escribe la fisura.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="reaccionpulpar" placeholder="Reacción Pulpar"></textarea>
      <mat-error *ngIf="form.get('reaccionpulpar').invalid">Por favor, escribe la reacción pulpar.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="testcavit" placeholder="Test Cavit"></textarea>
      <mat-error *ngIf="form.get('testcavit').invalid">Por favor, escribe el test cavit.</mat-error>
    </mat-form-field>

    <br>
    <button mat-raised-button color="accent" type="submit">Enviar</button>
    <br><br>

    <p>B. Etiología</p>

    <mat-form-field>
      <textarea matInput formControlName="organob" placeholder="Órgano"></textarea>
      <mat-error *ngIf="form.get('organob').invalid">Por favor, escribe el nombre del órgano.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="caries" placeholder="Caries"></textarea>
      <mat-error *ngIf="form.get('caries').invalid">Por favor, escribe las caries.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="trauma" placeholder="Trauma"></textarea>
      <mat-error *ngIf="form.get('trauma').invalid">Por favor, escribe el trauma.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="enfperiodonta" placeholder="Enfermedad Periodonta"></textarea>
      <mat-error *ngIf="form.get('enfperiodonta').invalid">Por favor, escribe la enfermedad periodonta.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="obtdefectuosa" placeholder="Obt. Defectuosa"></textarea>
      <mat-error *ngIf="form.get('obtdefectuosa').invalid">Por favor, escribe la obt. defectuosa.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="fractura" placeholder="Fractura"></textarea>
      <mat-error *ngIf="form.get('fractura').invalid">Por favor, escribe la fractura.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="corona" placeholder="Corona"></textarea>
      <mat-error *ngIf="form.get('corona').invalid">Por favor, escribe la corona.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="raiz" placeholder="Raíz"></textarea>
      <mat-error *ngIf="form.get('raiz').invalid">Por favor, escribe la raíz.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>
  
    <br>
    <button mat-raised-button color="accent" type="submit">Enviar</button>
    <br><br>

    <p>C. Análisis Radiográfico</p>

    <mat-form-field>
      <textarea matInput formControlName="organoc" placeholder="Órgano"></textarea>
      <mat-error *ngIf="form.get('organoc').invalid">Por favor, escribe el nombre del órgano.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="calcificaciones" placeholder="Calcificaciones"></textarea>
      <mat-error *ngIf="form.get('calcificaciones').invalid">Por favor, escribe las calcificaciones.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="corona2" placeholder="Corona"></textarea>
      <mat-error *ngIf="form.get('corona2').invalid">Por favor, escribe la corona.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="raiz2" placeholder="Raíz"></textarea>
      <mat-error *ngIf="form.get('raiz2').invalid">Por favor, escribe la raíz.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="resorcion" placeholder="Resorción"></textarea>
      <mat-error *ngIf="form.get('resorcion').invalid">Por favor, escribe la resorción.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="interno" placeholder="Interno"></textarea>
      <mat-error *ngIf="form.get('interno').invalid">Por favor, escribe el interno.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>
  
    <br>
    <button mat-raised-button color="accent" type="submit">Enviar</button>
    <br><br>

    <p>D. Diagnóstico</p>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="otro" placeholder="Otro"></textarea>
      <mat-error *ngIf="form.get('otro').invalid">Por favor, escribe otro.</mat-error>
    </mat-form-field>
  
    <br>
    <button mat-raised-button color="accent" type="submit">Enviar</button>
    <br><br>

    <mat-form-field>
      <textarea matInput formControlName="observaciones" placeholder="Observaciones"></textarea>
      <mat-error *ngIf="form.get('observaciones').invalid">Por favor, escribe tus observaciones.</mat-error>
    </mat-form-field>
  
  
  
  </form>

</mat-card>
