<mat-card class="cardForm">
  <form [formGroup]="form" (submit)="addPlandeTratamiento()">

    <mat-form-field>
      <input matInput [matDatepicker]="picker"  formControlName="fechaTrab"  placeholder="Elige una fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="trabajo" placeholder="Trabajo Realizado"></textarea>
      <mat-error *ngIf="form.get('trabajo').invalid">Por favor, escribe el trabajo realizado.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="profesor" placeholder="Profesor"></textarea>
      <mat-error *ngIf="form.get('profesor').invalid">Por favor, escribe el nombre del profesor.</mat-error>
    </mat-form-field>

    <br><br><br>

    <p>PERMANENTES</p><br>

    <mat-form-field>
      <textarea matInput formControlName="cariadas" placeholder="Cariadas"></textarea>
      <mat-error *ngIf="form.get('cariadas').invalid">Por favor, escribe cariadas.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="perdidas" placeholder="Pérdidas"></textarea>
      <mat-error *ngIf="form.get('perdidas').invalid">Por favor, escribe pérdidas.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="obturadas" placeholder="Obturadas"></textarea>
      <mat-error *ngIf="form.get('obturadas').invalid">Por favor, escribe obturadas.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="extracciones" placeholder="Extracciones"></textarea>
      <mat-error *ngIf="form.get('extracciones').invalid">Por favor, escribe extracciones.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="indicadas" placeholder="Indicadas"></textarea>
      <mat-error *ngIf="form.get('indicadas').invalid">Por favor, escribe indicadas.</mat-error>
    </mat-form-field><br><br>

    <p>TEMPORALES</p><br>

    <mat-form-field>
      <textarea matInput formControlName="cariadastem" placeholder="Cariadas"></textarea>
      <mat-error *ngIf="form.get('cariadastem').invalid">Por favor, escribe cariadas.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="perdidastem" placeholder="Pérdidas"></textarea>
      <mat-error *ngIf="form.get('perdidastem').invalid">Por favor, escribe pérdidas.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="obturadastem" placeholder="Obturadas"></textarea>
      <mat-error *ngIf="form.get('obturadastem').invalid">Por favor, escribe obturadas.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="extraccionestem" placeholder="Extracciones"></textarea>
      <mat-error *ngIf="form.get('extraccionestem').invalid">Por favor, escribe extracciones.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="indicadastem" placeholder="Indicadas"></textarea>
      <mat-error *ngIf="form.get('indicadastem').invalid">Por favor, escribe indicadas.</mat-error>
    </mat-form-field><br><br>
    <mat-divider></mat-divider>

    <div class="grid-container">
      <div>18
        <br>
        <button class="predictionBtn "(click)="imageSource18 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource18 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource18" *ngIf="imageSource18"/>
      </div>
      <div>17
        <br>
        <button class="predictionBtn "(click)="imageSource17 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource17 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource17" *ngIf="imageSource17"/>
      </div>
      <div>16
        <br>
        <button class="predictionBtn "(click)="imageSource16 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource16 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource16" *ngIf="imageSource16"/>
      </div>  
      <div>15
      <br>
      <button class="predictionBtn "(click)="imageSource15 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource15 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource15" *ngIf="imageSource15"/>
    </div>
      <div>14
      <br>
      <button class="predictionBtn "(click)="imageSource14 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource14 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource14" *ngIf="imageSource14"/>
    </div>
      <div>13
        <br>
      <button class="predictionBtn "(click)="imageSource13 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource13 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource13" *ngIf="imageSource13"/>
      </div>  
      <div>12
        <br>
      <button class="predictionBtn "(click)="imageSource12 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource12 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource12" *ngIf="imageSource12"/>
      </div>
      <div>11
        <br>
      <button class="predictionBtn "(click)="imageSource11 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource11 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource11" *ngIf="imageSource11"/>
      </div>
      <div>55
      <br>
      <button class="predictionBtn "(click)="imageSource55 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource55 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource55" *ngIf="imageSource55"/>
    </div>
      <div>54
        <br>
      <button class="predictionBtn "(click)="imageSource54 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource54= 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource54" *ngIf="imageSource54"/>
      </div>
      <div>53
        <br>
      <button class="predictionBtn "(click)="imageSource53 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource53 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource53" *ngIf="imageSource53"/>
      </div>  
      <div>52
        <br>
      <button class="predictionBtn "(click)="imageSource52 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource52 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource52" *ngIf="imageSource52"/>
      </div>
      <div>51
        <br>
      <button class="predictionBtn "(click)="imageSource51 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource51 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource51" *ngIf="imageSource51"/>
      </div>
    </div>
    <!--parte dos        ------------------------------------      -->
    
    <div class="grid-container">
      <div>21
        <br>
        <button class="predictionBtn "(click)="imageSource21 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource21 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource21" *ngIf="imageSource21"/>
      </div>
      <div>22
        <br>
        <button class="predictionBtn "(click)="imageSource22 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource22 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource22" *ngIf="imageSource22"/>
      </div>
      <div>23
        <br>
        <button class="predictionBtn "(click)="imageSource23 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource23 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource23" *ngIf="imageSource23"/>
      </div>  
      <div>24
      <br>
      <button class="predictionBtn "(click)="imageSource24 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource24 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource24" *ngIf="imageSource24"/>
    </div>
      <div>25
      <br>
      <button class="predictionBtn "(click)="imageSource25 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource25 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource25" *ngIf="imageSource25"/>
    </div>
      <div>26
        <br>
      <button class="predictionBtn "(click)="imageSource26 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource26 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource26" *ngIf="imageSource26"/>
      </div>  
      <div>27
        <br>
      <button class="predictionBtn "(click)="imageSource27 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource27 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource27" *ngIf="imageSource27"/>
      </div>
      <div>28
        <br>
      <button class="predictionBtn "(click)="imageSource28 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44746046_2466742326676890_578069376469565440_n.png?_nc_cat=100&_nc_ht=scontent.fmex7-1.fna&oh=106f8debb103302b523b5582a4787489&oe=5C82532F'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource28 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43703389_2170655446489482_6846337466513752064_n.png?_nc_cat=106&_nc_ht=scontent.fmex7-1.fna&oh=769de17385cf9b624bf403db63f5611b&oe=5C572381'" > A </button>
    <br>
    <br>
    <img [src]="imageSource28" *ngIf="imageSource28"/>
      </div>
      <div>61
      <br>
      <button class="predictionBtn "(click)="imageSource61 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource61 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource61" *ngIf="imageSource61"/>
    </div>
      <div>62
        <br>
      <button class="predictionBtn "(click)="imageSource62 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource62= 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource62" *ngIf="imageSource62"/>
      </div>
      <div>63
        <br>
      <button class="predictionBtn "(click)="imageSource63 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource63 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource63" *ngIf="imageSource63"/>
      </div>  
      <div>64
        <br>
      <button class="predictionBtn "(click)="imageSource64 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource64 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource64" *ngIf="imageSource64"/>
      </div>
      <div>65
        <br>
      <button class="predictionBtn "(click)="imageSource65 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/44686809_521942868275030_4047387462455001088_n.png?_nc_cat=103&_nc_ht=scontent.fmex7-1.fna&oh=f1125b1ec25263aab99b9d76d1610902&oe=5C3C8FB4'" >  R </button>
    <button class="rebalancingBtn" (click)="imageSource65 = 'https://scontent.fmex7-1.fna.fbcdn.net/v/t1.15752-9/43698411_578006652631728_3390950587989229568_n.png?_nc_cat=107&_nc_ht=scontent.fmex7-1.fna&oh=7ad36013c874e195c54a20a9092d6179&oe=5C82C8F1'" > A </button>
    <br>
    <br>
    <img [src]="imageSource65" *ngIf="imageSource65"/>
      </div>
    </div>
    

    <p>OPERADOR</p><br>

    <mat-form-field>
      <textarea matInput formControlName="nombre" placeholder="Nombre del Operador"></textarea>
      <mat-error *ngIf="form.get('nombre').invalid">Por favor, escribe el nombre del operador.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="cuat" placeholder="Cuat."></textarea>
      <mat-error *ngIf="form.get('cuat').invalid">Por favor, escribe cuat.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="equipo" placeholder="Equipo"></textarea>
      <mat-error *ngIf="form.get('equipo').invalid">Por favor, escribe equipo.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="sillon" placeholder="Sillón"></textarea>
      <mat-error *ngIf="form.get('sillon').invalid">Por favor, escribe sillón.</mat-error>
    </mat-form-field><br><br>

    <p>AUXILIAR</p><br>

    <mat-form-field>
      <textarea matInput formControlName="nombreaux" placeholder="Nombre del Auxiliar"></textarea>
      <mat-error *ngIf="form.get('nombreaux').invalid">Por favor, escribe el nombre del Auxiliar.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="cuataux" placeholder="Cuat."></textarea>
      <mat-error *ngIf="form.get('cuataux').invalid">Por favor, escribe cuat.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="equipoaux" placeholder="Equipo"></textarea>
      <mat-error *ngIf="form.get('equipoaux').invalid">Por favor, escribe equipo.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="sillonaux" placeholder="Sillón"></textarea>
      <mat-error *ngIf="form.get('sillonaux').invalid">Por favor, escribe sillón.</mat-error>
    </mat-form-field><br><br>
    <button mat-raised-button color="accent" type="submit">Guardar <mat-icon>save</mat-icon></button>
  </form>
</mat-card>
