<mat-card class="inicio">
  <mat-card-header>
    ¿Qué deseas hacer?
    <br><br>
  </mat-card-header>

  <mat-card-content>
    <a
    mat-raised-button
    color="primary"
    routerLink="/sidenav"
    routerLinkActive="mat-accent"
    matTooltip="Añadir un nuevo historial de paciente nuevo"
    >Agregar Historial</a>
    <br><br>
    <a
    mat-raised-button
    color="primary"
    routerLink="/revisar"
    routerLinkActive="mat-accent"
    matTooltip="Editar historial clínico de un paciente existente"
    >Revisar Historial</a>
    
  </mat-card-content>
</mat-card>
